.root {
	@apply  bg-site-p-blue text-center px-5 py-24 lg:py-48;
}

.gridContainer {
  @apply  grid lg:grid-cols-3 md:grid-cols-2 gap-10 md:gap-5 justify-items-center;  
}

.postTitle {
	@apply font-semibold lg:text-6xl text-5xl uppercase my-6 text-left px-3 text-site-s-dark flex self-center md:text-site-s-light;
}

.bgeffect {
	@apply mx-auto px-8 md:px-12 py-24 bg-site-p-blue;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	background-image: url("/layered-waves-haikei.svg");
}
