@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@import './palettes.css';
@import './base.css';
@import './components.css';

/* fix for react datepicker component z-index */
/* .react-datepicker-popper { z-index: 100 !important } */

/* .spacer{
  aspect-ratio: 900/675;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1{
  background-image: url('/layered-waves-haikei.svg');
} */

/* @layer base {
  @font-face {
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Arapey-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Arapey';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Arapey-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/RockoFLF.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/RockoFLF-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/RockoUltraFLF.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RockoFLF';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/RockoUltraFLF-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Kiddos';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Kiddos-font.ttf') format('truetype');
  }
} */
