/* .root {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.root svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 53px;
  transform: rotateY(180deg);
}
 */

.root{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.root svg {
  position: relative;
  display: block;
  width: calc(201% + 1.3px);
  height: 208px;
}

.root.shape-fill {
  fill: #FFFFFF;
}
/* .root .shape-fill {
  fill: #FFFFFF;
} */